<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div layout:fragment="body" class="px-5 py-5">
  <div class="title">
    <h4>Role List</h4>
  </div>
  <div class="list">
    <div class="table">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Role Name</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="role : ${role}">
            <td th:text="${role.roleID}"></td>
            <td th:text="${role.roleName}"></td>
            <td><a class="btn btn-primary" th:href="@{/users/{userID}/edit(userID=${role.roleID})}">Edit</a></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>
